body {
  font-family: Arial, sans-serif;
  background-color: #ADD8E6; /* Azul claro */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px #666;
  transition: box-shadow 0.3s, transform 0.3s;
  animation: pulse 2s infinite;
}

button:hover {
  box-shadow: 0 10px #999;
  transform: translateY(-2px);
}

button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

